<nav class="nav-bar navbar-default">
  <div class="container-fluid">
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active current" [routerLinkActiveOptions]={exact:true}><a routerLink="">Home</a></li>
        <li routerLinkActive="active current" [routerLinkActiveOptions]={exact:true}><a routerLink="/products">Products</a></li>
        <li routerLinkActive="active current" [routerLinkActiveOptions]={exact:true}><a routerLink="/login">Login Page</a></li>
        <li routerLinkActive="active current" [routerLinkActiveOptions]={exact:true}><a routerLink="/firebase">FireBase Products List</a></li>
        <!--li routerLinkActive="active current"><a routerLink="/users">Users</a></li>
        <li routerLinkActive="active current"><a routerLink="/products">Products</a></li>
        <li routerLinkActive="active current"><a routerLink="/add-form">fireuser</a></li-->
      </ul>
    </div>
  </div>
</nav>