<!--products-form (addUser) = "optimisticAdd($event)" (addUserPs) = "pessimiaticAdd()"></users-form-->

<!--h2>
  This is Your Products List (From the DB):
</h2>
<ul class = "list-group">
  <li class = "list-group-item" *ngFor = "let key of usersKeys">
  <ul>
    <a >{{'UserId: '+key+' UserName: '+users[key].name}}</a>
  </ul> 
  <button class="btn btn-danger" (click)="deleteUser(key)">Delete</button>
  <button class = "btn btn-warning"  [routerLink] = "['/update-form/', key]" >Edit</button> 
  </li>
</ul-->
<h2>
  This is Your Products List (From the DB):
</h2>
<ul class = "list-group">
  <li class = "list-group-item" *ngFor = "let key of productsKeys">
    <a >{{'Product ID number: '+key+', Product Name: '+products[key].name + ', Product Price: ' + products[key].price + '$'}}</a>
  </li>
</ul>
